@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    padding: 3.2rem;
    color: #f4f4f4;
    background-color: #131219;
    font-family: 'Saira Condensed', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3.2rem;
}

header img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-bottom: 3rem;
}

header p {
    margin-top: 0.8rem;
    font-size: 2rem;
    color: #c9c9c9;
    transition: all 0.5s;
}

header p:hover {
    color: #f4f4f4;
}

#topic-1 > h1{
    margin-bottom: 13px;
    text-align: center;
}

#topic-2 > h1 {
    text-align: center;
}

#topic-2 > h3 {
    margin-bottom: 13px;
    text-align: center;
    color: #adadad;
}

div {
    margin-bottom: 0px;
}

section div {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    gap: 1.6rem;
}

a {
    text-decoration: none;
    flex-basis: 200px;
    justify-content: space-between;
    flex-grow: 1;
}

section div article img {
    width: 28px;
    margin-right: 1.6rem;
}

section div article h2 {
    text-align: center;
    font-size: 2rem;
}

a, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
    color: #f4f4f4;
}

article {
    min-height: 100px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border: 2px solid #131219;
    transition: all 0.5s;
}

div #article-1 {
    background: rgb(111, 139, 231);
    background: linear-gradient(90deg, rgba(111, 139, 231, 1) 0%, rgba(47, 41 , 157, 1) 100%);
}

div #article-2 {
     background: linear-gradient(45deg, #f09433 0%, #e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

div #article-3 {
    background: linear-gradient(58deg, #1f9b95 8%, #3983b4 98%);
                    
}

div #article-4 {
    background: linear-gradient(261.65deg, #202225 0%, #2d2f31 100%);
}

div #article-5 {
    background: linear-gradient(225deg, rgba(103, 16, 242, 0.322) 0%, rgba(103, 16, 242, 0.048) 100%);
    min-height: 55px;
    border-image: linear-gradient(225deg, #6610f2 0%, rgba(103, 16, 242, 0.185) 100%) 1;
    border: 1px solid rgba(103, 16, 242, 0.651);
}

div #article-5:hover {
    background: linear-gradient(225deg, rgba(103, 16, 242, 0.575) 0%, rgba(103, 16, 242, 0.048) 100%);
    min-height: 55px;
    border-image: linear-gradient(225deg, #6d13ff 0%, rgba(103, 16, 242, 0.363) 100%) 1;
    border: 1px solid rgba(103, 16, 242, 0.651);
}


section #portfolio {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 300px;
    margin: auto;
    gap: 1.6rem;
}



section div article:hover {
    min-height: 100px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border: 2px solid #f4f4f4;
}

@media (max-width: 620px) {
    section div article {
        min-height: 65px;
        min-width: 140px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        border: 2px solid #131219;
        transition: all 0.5s;
    }

    section div article:hover {
        min-height: 65px;
        min-width: 140px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        border: 2px solid #f4f4f4;
    }
    

    a, p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: 500;
        color: #f4f4f4;
    }
}
