@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;900&display=swap');

:root {
    /*CORES*/
    /*BACKGROUND*/
    --primary-color: #06040c;

    /*WHITE*/
    --white: #ffffff;
    --secondary-white: #c9c9c9;
    --third-white: #eeeeee;
    
    /*PURPLE*/
    --primary-purple: #7343CC;
    --secondary-purple: #653BB3;
    --third-purple: #4F2E8C;

    /*TAMANHOS*/
    --gap: 3rem;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--white);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Condensed', sans-serif;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

.main-bg {
    background-color: var(--primary-color);
    color: var(--white);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
}

.menu {
    background: rgba(14, 9, 27, 0.8);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-bottom: 1px solid rgba(114, 114, 126, 0.2);
    /*background: var(--primary-color);*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    /*border-bottom: 0.1rem solid #353a41;*/
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--secondary-white);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;

}

.menu ul a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--secondary-white);
    position: relative;
    transition: all 0.5s ease-in-out;
    text-underline-offset: 6px;
}

.menu ul a:hover {
    color: #FEFBFB;
    text-decoration: underline var(--primary-purple);
    text-decoration-thickness: 3px;
}

.menu-spacing {
    background: var(--primary-color);
    height: 65px;
}

.inicio-content {
    position: relative;
    /*top: -8rem;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.inicio .home-content .text-1, .text-3, .text-4, .text-5 {
    font-family: 'Saira', sans-serif;
    color: var(--secondary-white);
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.inicio .home-content .text-2 {
    font-size: 8rem;
    font-family: 'Saira Condensed', Arial, Helvetica, Sans-serif;
}

.inicio .home-content .text-3 {
    font-family: 'Saira', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 3rem;
}

.inicio .home-content .text-4 {
    margin-top: 1.6rem;
}

.inicio .home-content .text-5 {
    padding-bottom: 0.8rem;
}

.inicio .home-content .text-6 {
    font-size: 2.4rem;
}


.inicio .home-content .padding-1 {
    padding-left: 2rem;
}

.inicio-text-content, .grid-2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 8px;
}

.grid-2 {
    max-width: 100%;
    height: 21rem;
}
